<!DOCTYPE html>

<head>
    <title>{{block "title" .}}{{end}} - kjudge</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/highlight.js/styles/monokai-sublime.css">
</head>

<body class="bg-gray-100">
    <div class="container mx-auto">
        {{block "main" .}}{{end}}
    </div>
    <script type="module" src="../ts/index.ts"></script>
</body>

{{/* Common components */}}

{{ define "form-error" }}
{{ if . }}
<div class="bg-red-400 rounded border p-4 text-center text-white">{{ .Error }}</div>
{{ end }}
{{ end }}


{{ define "footer" }}
<div class="mt-5 mx-auto text-center">
    <div class="my-2">
        <div>
            <a class="font-bold hover:text-blue-600" href="https://github.com/natsukagami/kjudge">kjudge</a>
            <span>{{version}}</span>
        </div>
        <div>
            made with ❤️ by <a class="hover:text-pink-600"
                href="https://github.com/natsukagami/kjudge/graphs/contributors">many
                contributors</a>
        </div>
        <div>
            © by <a href="https://github.com/natsukagami/kjudge/src/branch/master/LICENSE"
                class="underline hover:text-green-600">AGPL v3</a>
        </div>
    </div>
</div>
{{ end }}
