<!DOCTYPE html>

<head>
    <title>{{block "title" .}}{{end}} - kjudge</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/highlight.js/styles/monokai-sublime.css">
</head>

<body class="bg-gray-100">
    <div class="container mx-auto">
        {{block "main" .}}{{end}}
    </div>
    <script src="../ts/index.ts"></script>
</body>

{{/* Common components */}}

{{ define "form-error" }}
{{ if . }}
<div class="bg-red-400 rounded border p-4 text-center text-white">{{ .Error }}</div>
{{ end }}
{{ end }}
