/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

/* Utilities classes */
.subheader {
    @apply text-xl mx-2 mt-4 mb-4 font-bold;
}

.form-block {
    @apply border rounded bg-gray-200 p-4;
}

.form-input {
    @apply shadow my-1 p-1 w-2/3 rounded-sm;
}
.form-input:focus {
    @apply shadow-outline;
}

.form-btn {
    @apply cursor-pointer border rounded p-2 mx-2;
}

.min-w-fit-5 {
    min-width: 14rem;
}

.flex-table-cell {
    @apply flex flex-col justify-center;
}

.text-btn {
    @apply font-mono text-sm cursor-pointer bg-transparent;
}

@tailwind utilities;

.overflow-auto {
    scrollbar-width: thin;
}

body {
    font-family: "Muli", emoji, sans-serif;
}
