{{ define "admin-title" }}Contests{{ end }}

{{ define "admin-content" }}
<div class="py-4 mx-auto text-4xl">Contests</div>
<div class="p-2">
    {{ template "contests-table" .Contests }}
</div>

{{/* New Contest */}}
<div class="p-2" id="new">
    <div class="text-2xl mx-2 my-4 font-bold">New Contest</div>
    {{ if .FormError }}
    <div class="bg-red-400 rounded border p-4 text-center text-white">{{ .FormError.Error }}</div>
    {{ end }}
    <form method="POST" action="/admin/contests#new" class="border rounded bg-gray-200 p-4">
        {{ template "contest-inputs" .Form }}
    </form>
</div>
{{ end }}
