{{ define "admin-title" }}Scoreboard{{ end }}

{{ define "admin-content" }}
{{ $contest_link := printf "/admin/contests/%d" .Contest.ID }}
<div class="text-4xl py-4">
    <a class="text-4xl hover:text-blue-600 cursor-pointer" title="Edit Contest" href="{{$contest_link}}">
        {{.Contest.Name}}
    </a>
    : Scoreboard
</div>

<div class="text-xl my-2 text-gray-800 timer" data-start="{{.Contest.StartTime | time}}"
    data-end="{{.Contest.EndTime | time}}"><span class="font-semibold"></span></div>

<div class="text-xl my-2">
    The contest starts at <span class="font-semibold display-time" data-time="{{.Contest.StartTime | time}}"></span> and
    ends at <span class="font-semibold display-time" data-time="{{.Contest.EndTime | time}}"></span>.
</div>

<div class="my-2 text-lg">
    <a href="{{$contest_link}}/scoreboard?wide=true" class="text-btn hover:text-blue-600">[wide version]</a>
    | Download as:
    <a href="{{$contest_link}}/scoreboard/json" download="scoreboard.json"
        class="text-btn hover:text-green-600">[JSON]</a>
    <a href="{{$contest_link}}/scoreboard/csv" download="scoreboard.csv" class="text-btn hover:text-green-600">[CSV]</a>
    <a href="{{$contest_link}}/scoreboard/csv?scores_only=true" download="scoreboard.csv"
        class="text-btn hover:text-green-600">[CSV (scores only)]</a>
</div>

<div id="scoreboard"></div>
<script>
    document.initialScoreboard = JSON.parse("{{ json .JSON }}");
    document.scoreboardJSONLink = '/admin/contests/{{.Contest.ID}}/scoreboard/json';
</script>
<script type="module" src="../../ts/scoreboard/index.tsx"></script>
{{ end }}
