{{ define "contest-inputs" }}
<label for="name" class="text-sm block">Name</label>
<input required class="form-input" name="name" type="text" placeholder="Contest #1" value="{{ .Name }}" />
<label for="type" class="text-sm block">Contest Type</label>
<select required class="form-input" name="contest_type">
    {{ if (eq .ContestType "unweighted") }}
    <option selected value="unweighted">
        {{ else }}
    <option value="unweighted">
        {{ end }}
        Unweighted <span>[Problem Scores
            don't
            matter]</span></option>
    {{ if (eq .ContestType "weighted") }}
    <option selected value="weighted">
        {{ else }}
    <option value="weighted">
        {{ end }}
        Weighted</option>
</select>
<label for="start_time" class="text-sm block">Start Time (UTC)</label>
<input required class="form-input" name="start_time" type="datetime-local" placeholder="2020-01-01T00:00:00"
    value="{{ .StartTime }}" />
<label for="name" class="text-sm block">End Time (UTC)</label>
<input required class="form-input" name="end_time" type="datetime-local" placeholder="2020-01-01T00:00:00"
    value="{{ .EndTime }}" />
<div class="text-sm text-gray-600">
    The current time in UTC is <span class="font-bold utc-current-time"></span>.
</div>
<div class="mt-2">
    <input required type="submit" class="form-btn  bg-green-200 hover:bg-green-300" value="Submit">
    <input required type="reset" class="form-btn  bg-red-200 hover:bg-red-300" value="Reset">
</div>
{{ end }}

{{ define "contests-table" }}
<table class="table table-auto w-full">
    <thead>
        <tr>
            <th class="border-b py-1">ID</th>
            <th class="border-b py-1">Name</th>
            <th class="border-b py-1">Start Time</th>
            <th class="border-b py-1">End Time</th>
            <th class="border-b py-1">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{ range . }}
        {{ $link := printf "/admin/contests/%d" (.ID) }}
        <tr class="border-b">
            <td class="text-center">{{.ID}}</td>
            <td>{{.Name}}</td>
            <td class="text-center display-time" data-time="{{.StartTime | time}}">{{.StartTime}}</td>
            <td class="text-center display-time" data-time="{{.EndTime | time}}">{{.EndTime}}</td>
            <td class="text-center">
                <a href="{{$link}}" title="Edit Contest" class="hover:text-blue-600">[e]</a>
                <form method="POST" action="/admin/contests/{{ .ID }}/delete" class="inline require-confirm">
                    <input required type="submit" title="Delete Contest" class="cursor-pointer hover:text-red-600"
                        value="[d]">
                </form>
            </td>
        </tr>
        {{ else }}
        <tr class="border-b">
            <td colspan="4" class="py-1 text-center">No contests.</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}
