{{ define "admin-title" }}{{.Problem.Name}}. {{.Problem.DisplayName}} [e]{{ end }}

{{ define "admin-nav" }}
<nav>
    <a href="#test-groups">
        <div class="bg-gray-200 rounded-sm hover:bg-gray-400 m-2 py-1 ml-4 pl-4">Test Groups</div>
    </a>
    <a href="#new-test-group">
        <div class="bg-gray-200 rounded-sm hover:bg-gray-400 m-2 py-1 ml-8 pl-4">New Test Group</div>
    </a>
    <a href="#files">
        <div class="bg-gray-200 rounded-sm hover:bg-gray-400 m-2 py-1 ml-4 pl-4">Files</div>
    </a>
    <a href="#new-file">
        <div class="bg-gray-200 rounded-sm hover:bg-gray-400 m-2 py-1 ml-8 pl-4">New File</div>
    </a>
    <a href="#edit">
        <div class="bg-gray-200 rounded-sm hover:bg-gray-400 m-2 py-1 ml-4 pl-4">Edit Contest</div>
    </a>
</nav>
{{ end }}

{{ define "admin-content" }}
<div class="py-4 mx-auto">
    {{ $contest_link := printf "/admin/contests/%d" .Contest.ID }}
    <a class="text-3xl text-gray-600 hover:text-blue-600 cursor-pointer" href="{{$contest_link}}">
        {{.Contest.Name}}
    </a>
    <span>>></span>
    <span class="text-4xl">{{.Problem.Name}}. {{.Problem.DisplayName}}</span>
    <span class="text-2xl">
        (
        {{ $problem_link := printf "/admin/problems/%d" .Problem.ID }}
        <a href="{{$problem_link}}/submissions" class="hover:text-green-600"
            title="See submissions for problem">Submissions</a> )
    </span>
</div>

<div class="subheader">Rejudge:
    <form class="inline" method="POST" action="{{$problem_link}}/rejudge">
        <input type="hidden" name="stage" value="compile">
        <input type="submit" value="[Recompile]" class="text-btn hover:text-blue-900 text-lg">
    </form>
    <form class="inline" method="POST" action="{{$problem_link}}/rejudge">
        <input type="hidden" name="stage" value="run">
        <input type="submit" value="[Re-run all tests]" class="text-btn hover:text-blue-600 text-lg">
    </form>
    <form class="inline" method="POST" action="{{$problem_link}}/rejudge">
        <input type="hidden" name="stage" value="score">
        <input type="submit" value="[Recalculate score]" class="text-btn hover:text-blue-300 text-lg">
    </form>
</div>

{{/* Test Management */}}
<div class="subheader" id="test-groups">Test Groups</div>
<div class="p-2">
    {{ template "test-group-table" .TestGroups }}
</div>
<div class="text-lg mx-2 my-4 font-bold" id="new-test-group">New Test Group</div>
{{ template "form-error" .TestGroupFormError }}
<form method="POST" action="/admin/problems/{{.Problem.ID}}/add_test_group" class="form-block">
    {{ template "test-group-inputs" .TestGroupForm }}
</form>

{{/* Files */}}
<div class="subheader" id="files">Files</div>
<div class="p-2">
    {{ template "file-table" .Files }}
</div>
<div class="text-lg mx-2 my-4 font-bold" id="new-file">New File</div>
<form method="POST" action="/admin/problems/{{.Problem.ID}}/add_file" class="form-block" enctype="multipart/form-data">
    {{ template "file-inputs" }}
</form>

{{/* Edit */}}
<div class="subheader" id="edit">
    Edit
    <span class="ml-4 text-gray-600 text-sm">
        <b>Note: </b>
        Changing the problem's scoring scheme requires re-scoring the entire list of submissions.
    </span>
</div>
{{ template "form-error" .EditFormError }}
<form method="POST" action="/admin/problems/{{.Problem.ID}}" class="form-block">
    {{ template "problem-inputs" .EditForm }}
</form>
{{ end }}
