{{ define "submission-table" }}
{{/*
    Contract: Please prepare the following items in ".":
    - Either ".User" for an user who owns all submissions, or a ".Users" map of users.
    - Either:
        + A ".Problem" for the problem for all submissions, or
        + A ".ProblemsMap" for problem lookup, AND
            + A ".Contest" with ".Contest.Problems" for the contest for all submissions, or
            + A ".Contests" with each having ".Problems" list of all contests.
    - A ".Submissions" list of submissions. Meta is fine
    */}}
{{ $cols := 5 }}
<table class="submissions-table table table-auto w-full">
    <thead>
        <tr>
            <th class="py-2 border-b">
                <a href="#" class="select-all cursor-pointer hover:text-blue-600">[all]</a></th>
            <th class="py-2 border-b">ID</th>
            {{ if .User }}
            {{ else }}
            {{ $cols = add 1 $cols }}
            <th class="py-2 border-b">
                <select class="user-filter" data-field="user">
                    <option value="" selected>All Users</option>
                    {{ range .Users }}
                    <option value="{{.ID}}">{{.ID}}</option>
                    {{ end }}
                </select>
            </th>
            {{ end }}
            {{ if .Problem }}
            {{ else }}
            {{ $cols = add 1 $cols }}
            {{ if .Contest }}
            <th class="py-2 border-b">
                <select class="problem-filter" data-field="problem">
                    <option value="" selected>All Problems</option>
                    {{ range .Contest.Problems }}
                    <option value="{{.ID}}">{{.Name}}. {{.DisplayName}}</option>
                    {{ end }}
                </select>
            </th>
            {{ else }}
            <th class="py-2 border-b">
                <select class="problem-filter" data-field="problem">
                    <option value="" selected>All Contests</option>
                    {{ range .Contests }}
                    <option value="{{range .Problems}}{{.ID}},{{end}}">{{.Name}}</option>
                    {{ range .Problems }}
                    <option value="{{.ID}},"> > {{.Name}}. {{.DisplayName}}</option>
                    {{ end }}
                    {{ end }}
                </select>
            </th>
            {{ end }}
            {{ end }}
            <th class="py-2 border-b">Submit Time</th>
            <th class="py-2 border-b">Verdict</th>
            <th class="py-2 border-b" style="min-width: 5.5rem;">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{ $user := .User }}
        {{ $users := .Users }}
        {{ $problem := .Problem }}
        {{ $problemsMap := .ProblemsMap }}
        {{ range $sub := .Submissions }}
        <tr class="table-row hover:bg-gray-200" data-id="{{$sub.ID}}" data-user="{{$sub.UserID}}"
            data-problem="{{$sub.ProblemID}}">
            <td class="py-2 border-b text-center">
                <input class="select-to-rejudge" value="{{$sub.ID}}" type="checkbox">
            </td>
            <td class="py-2 border-b text-center">{{$sub.ID}}</td>
            {{ if $user }}
            {{  else  }}
            {{ with (index $users $sub.UserID) }}
            {{ $link := printf "/admin/users/%s" .ID }}
            <td class="py-2 border-b pl-4">
                <a href="{{$link}}" class="cursor-pointer hover:text-blue-600">{{.ID}}</a>
            </td>
            {{ end }}
            {{ end }}
            {{ if $problem }}
            {{ else }}
            {{ with (index $problemsMap $sub.ProblemID) }}
            {{ $link := printf "/admin/problems/%d" .ID }}
            <td class="py-2 border-b pl-4"><a href="{{$link}}" class="cursor-pointer hover:text-blue-600">{{.Name}}.
                    {{.DisplayName}}</a></td>
            {{ end }}
            {{ end }}
            {{ with $sub }}
            <td class="py-2 border-b pl-4 display-time" data-time="{{.SubmittedAt | time}}"></td>
            <td class="py-2 border-b text-center">{{ template "submission-verdict" .}}</td>
            <td class="py-2 border-b text-center">
                <form class="inline" method="POST" action="/admin/rejudge">
                    <input type="hidden" name="id" value="{{.ID}}">
                    <input type="hidden" name="stage" value="compile">
                    <input type="hidden" name="last" class="current-url">
                    <input type="submit" value="[c]" title="Recompile" class="text-btn hover:text-blue-900">
                </form>
                <form class="inline" method="POST" action="/admin/rejudge">
                    <input type="hidden" name="id" value="{{.ID}}">
                    <input type="hidden" name="stage" value="run">
                    <input type="hidden" name="last" class="current-url">
                    <input type="submit" value="[r]" title="Re-run all tests" class="text-btn hover:text-blue-600">
                </form>
                <form class="inline" method="POST" action="/admin/rejudge">
                    <input type="hidden" name="id" value="{{.ID}}">
                    <input type="hidden" name="stage" value="score">
                    <input type="hidden" name="last" class="current-url">
                    <input type="submit" value="[s]" title="Recalculate score" class="text-btn hover:text-blue-300">
                </form>
            </td>
            {{ end }}
        </tr>
        {{ else }}
        <tr>
            <td class="py-2 border-b text-center" colspan="{{$cols}}">No Submissions</td>
        </tr>
        {{ end }}
    </tbody>
    <tfoot class="sticky bottom-0 bg-gray-200 text-lg">
        <tr>
            <!-- sticky bottom-0 for bad browsers -->
            <td class="sticky bottom-0 bg-gray-200 py-2 border-b font-bold" colspan="{{add -1 $cols}}">With selected...
                <span class="selected-count"></span></td>
            <td class="sticky bottom-0 bg-gray-200 py-2 border-b font-bold text-center">
                <form class="inline" method="POST" action="/admin/rejudge">
                    <input class="selected-submissions" type="hidden" name="id" value="" required>
                    <input type="hidden" name="stage" value="compile">
                    <input type="hidden" name="last" class="current-url">
                    <input type="submit" value="[c]" title="Recompile" class="text-btn hover:text-blue-900">
                </form>
                <form class="inline" method="POST" action="/admin/rejudge">
                    <input class="selected-submissions" type="hidden" name="id" value="" required>
                    <input type="hidden" name="stage" value="run">
                    <input type="hidden" name="last" class="current-url">
                    <input type="submit" value="[r]" title="Re-run all tests" class="text-btn hover:text-blue-600">
                </form>
                <form class="inline" method="POST" action="/admin/rejudge">
                    <input class="selected-submissions" type="hidden" name="id" value="" required>
                    <input type="hidden" name="stage" value="score">
                    <input type="hidden" name="last" class="current-url">
                    <input type="submit" value="[s]" title="Recalculate score" class="text-btn hover:text-blue-300">
                </form>
            </td>
        </tr>
    </tfoot>
</table>
<script type="module" src="../../ts/admin_submissions.ts"></script>
<script type="module" src="../../ts/submission.ts"></script>
{{ end }}

{{ define "submission-verdict" }}
{{ $link := printf "/admin/submissions/%d" .ID }}
{{ if eq .Verdict "..." }}
<a href="{{$link}}" class="hover:text-blue-600 text-blue-800 live-update" title="View details"
    data-id="{{.ID}}">[...]</a>
{{ else }}
<a href="{{$link}}" class="hover:text-blue-600 text-blue-800" title="View details">{{.Verdict}}
    {{- if .Score.Valid }}
    [{{.Score.Float64 | printf "%.2f"}}
    {{- if gt .Penalty.Int64 0 -}}
    <span class="text-gray-600"> (+{{.Penalty.Int64}})</span>
    {{- end -}}
    ]
    {{- end }}</a>
{{ end }}
{{ end }}
