{{ define "test-group-table" }}
<table class="table table-auto w-full">
    <thead>
        <tr>
            <th class="py-2 border-b">Name</th>
            <th class="py-2 border-b"># Tests</th>
            <th class="py-2 border-b">Score</th>
            <th class="py-2 border-b">Time Limit</th>
            <th class="py-2 border-b">Memory Limit</th>
            <th class="py-2 border-b">Scoring Mode</th>
            <th class="py-2 border-b">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{ range . }}
        {{ $link := printf "/admin/test_groups/%d" .ID }}
        <tr class="{{ if lt .Score 0.0 }} text-gray-600 {{end}} hover:bg-gray-200">
            <td class="py-2 border-b pl-4">
                <a href="{{$link}}" class="hover:text-blue-600">{{.Name}}</a>
            </td>
            <td class="text-center py-2 border-b">
                {{ len .Tests }}
            </td>
            <td class="text-center py-2 border-b">
                {{if lt .Score 0.0}}hidden{{else}}{{.Score}}{{end}}
            </td>
            <td class="text-center py-2 border-b">
                {{if .TimeLimit.Valid}}{{.TimeLimit.Int64}}{{else}}-{{end}}
            </td>
            <td class="text-center py-2 border-b">
                {{if .MemoryLimit.Valid}}{{.MemoryLimit.Int64}}{{else}}-{{end}}
            </td>
            <td class="text-center py-2 border-b">{{.ScoringMode}}</td>
            <td class="text-center py-2 border-b">
                <a href="{{$link}}" class="text-btn hover:text-blue-600" title="Edit Test Group">[e]</a>
                <form class="inline" method="POST" action="{{$link}}/rejudge">
                    <input class="text-btn hover:text-blue-600" value="[r]" type="submit" title="Re-run tests">
                </form>
                <form class="inline require-confirm" method="POST" action="{{$link}}/delete">
                    <input class="text-btn hover:text-red-600" value="[d]" type="submit" title="Delete Test Group">
                </form>
            </td>
        </tr>
        {{ else }}
        <tr>
            <td class="border-b py-2 text-center" colspan="8">No Test Groups</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}

{{ define "test-group-inputs" }}
<label for="name" class="text-sm block">Name</label>
<input class="form-input" type="text" name="name" placeholder="main" required value="{{ .Name }}">
<label for="score" class="text-sm block">Score</label>
<input class="form-input" type="number" name="score" placeholder="100" min="-1" required value="{{ .Score }}">
<div class="p-1 text-sm text-gray-600">
    <ul class="list-disc list-inside">
        <li>A value of <b>0</b> makes the test group have no value, but still displayed. Good for example tests.</li>
        <li>A <b>negative</b> value makes the test group have no value <b>and</b> hidden from the contestant.</li>
    </ul>
    You would normally use a negative score test group to pre-run main (vs. pre-tests) tests, like on Codeforces.
    The score can then be updated to a positive value later on.
</div>
<label for="scoring_mode" class="text-sm block">Scoring Mode</label>
<select name="scoring_mode" class="form-input" required>
    {{ if eq .ScoringMode "sum" }}
    <option selected value="sum">
        {{ else }}
    <option value="sum">
        {{ end }}
        Sum
    </option>
    {{ if eq .ScoringMode "min" }}
    <option selected value="min">
        {{ else }}
    <option value="min">
        {{ end}}
        Min</option>
    {{ if eq .ScoringMode "product" }}
    <option selected value="product">
        {{ else }}
    <option value="product">
        {{ end }}
        Product
    </option>
</select>
<div class="p-1 text-sm text-gray-600">
    <p>TestScoringMode determines how the score of each test in the group adds up to the total of the group.</p>
    The schemes are:
    <ul class="list-inside list-disc">
        <li>Sum: Each test has an equal weight and the score of the group is (sum of test scores / # of tests) * (group
            score)</li>
        <li>Min: The score of the group = min(score of each test) * (group score)</li>
        <li>Product: Score of the group = product(score of each test) * (group score)</li>
    </ul>
</div>
<label for="time_limit" class="text-sm block">Time Limit (ms)</label>
<input class="form-input" type="number" name="time_limit" min="100" step="100" value="{{.TimeLimit}}">
<div class="p-1 text-sm text-gray-600">Leave blank to use the problem's time limit.</div>
<label for="memory_limit" class="text-sm block">Memory Limit (KBs)</label>
<input class="form-input" type="number" name="memory_limit" min="1024" step="1024" value="{{.MemoryLimit}}">
<div class="p-1 text-sm text-gray-600">Leave blank to use the problem's memory limit.</div>
<div class="mt-2">
    <input required type="submit" class="form-btn  bg-green-200 hover:bg-green-300" value="Submit">
    <input required type="reset" class="form-btn  bg-red-200 hover:bg-red-300" value="Reset">
</div>
{{ end }}
