{{ define "user-table" }}
<table class="table table-auto w-full">
    <thead>
        <tr>
            <th class="py-1 border-b">Username</th>
            <th class="py-1 border-b">Hidden</th>
            <th class="py-1 border-b">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{ range . }}
        {{ $link := printf "/admin/users/%s" .ID }}
        <tr class="{{if .Hidden}} text-gray-600 {{end}}">
            <td class="text-mono py-1 border-b">{{.ID}}</td>
            <td class="py-1 border-b text-center">{{.Hidden}}</td>
            <td class="py-1 border-b text-center">
                {{ $subs_link := printf "/admin/submissions?user_id=%s" .ID }}
                <a href="{{$subs_link}}" title="See user's submissions"
                    class="cursor-pointer hover:text-green-600">[s]</a>
                <a href="{{$link}}" title="Edit User" class="cursor-pointer hover:text-blue-600">[e]</a>
                <form class="inline require-confirm" method="POST" action="{{$link}}/delete">
                    <input type="submit" value="[d]" title="Delete User" class="cursor-pointer hover:text-red-600">
                </form>
            </td>
        </tr>
        {{ else }}
        <tr>
            <td colspan="3" class="py-1 border-b text-center">No Users</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}

{{ define "user-inputs" }}
<label for="id" class="text-sm block">Username</label>
<input class="form-input" type="text" name="id" placeholder="user_01" required value="{{.ID}}">
<label for="password" class="text-sm block">Password</label>
<input class="form-input" type="password" name="password" placeholder="*********" required>
<div class="my-2">
    {{ if .Hidden }}
    <input type="checkbox" checked id="user-form-hidden" name="hidden" value="true">
    {{ else }}
    <input type="checkbox" id="user-form-hidden" name="hidden" value="true">
    {{ end }}
    <label for="user-form-hidden">
        User is Hidden
        <span class="text-gray-600">(not shown on Scoreboard)</span>
    </label>
</div>
<div class="mt-2">
    <input required type="submit" class="form-btn bg-green-200 hover:bg-green-300" value="Submit">
    <input required type="reset" class="form-btn bg-red-200 hover:bg-red-300" value="Reset">
</div>
{{ end }}
