{{ define "user-table" }}
<table class="table table-auto w-full">
    <thead>
        <tr class="border-b">
            <th class="py-2 text-center">Username</th>
            <th class="py-2 text-center">Display Name</th>
            <th class="py-2 text-center">Organization</th>
            <th class="py-2 text-center">Hidden</th>
            <th class="py-2 text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{ range . }}
        {{ $link := printf "/admin/users/%s" .ID }}
        <tr class="{{if .Hidden}} text-gray-600 {{end}} hover:bg-gray-200">
            <td class="text-mono py-2 border-b pl-4">
                <a href="{{$link}}" class="hover:text-blue-600">{{.ID}}</a>
            </td>
            <td class="py-2 border-b pl-4">
                <a href="{{$link}}" class="hover:text-blue-600">{{.DisplayName}}</a>
            </td>
            <td class="py-2 border-b pl-4">{{if .Organization}}{{.Organization}}{{else}}-{{end}}</td>
            <td class="py-2 border-b text-center">{{.Hidden}}</td>
            <td class="py-2 border-b text-center">
                <a href="{{$link}}#submissions" title="See user's submissions"
                    class="text-btn hover:text-green-600">[s]</a>
                <a href="{{$link}}#edit" title="Edit User" class="text-btn hover:text-blue-600">[e]</a>
                <form class="inline require-confirm" method="POST" action="{{$link}}/delete">
                    <input type="submit" value="[d]" title="Delete User" class="text-btn hover:text-red-600">
                </form>
            </td>
        </tr>
        {{ else }}
        <tr>
            <td colspan="3" class="py-2 border-b text-center">No Users</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}

{{ define "user-inputs" }}
<label for="id" class="text-sm block">Username</label>
{{ if .IsUpdate }}
<input class="form-input bg-gray-200" type="text" name="id" placeholder="user_01" required value="{{.ID}}" readonly>
{{ else }}
<input class="form-input" type="text" name="id" placeholder="user_01" required value="{{.ID}}">
{{ end }}

<label for="password" class="text-sm block">Password</label>
{{ if .IsUpdate }}
<input class="form-input" type="password" name="password" placeholder="Leave blank to leave unchanged">
{{ else }}
<input class="form-input" type="password" name="password" placeholder="*********" required>
{{ end }}

<label for="display-name" class="text-sm block">Display Name</label>
{{ if .IsUpdate }}
<input class="form-input" id="display-name" type="text" name="display_name" placeholder="Misaka Mikoto" required
    value="{{.DisplayName}}" maxlength="32">
{{ else }}
<input class="form-input" id="display-name" type="text" name="display_name" placeholder="Leave blank to use Username"
    value="{{.DisplayName}}" maxlength="32">
{{ end }}
<div class="text-sm text-gray-600">
    This is the name that will be displayed on the scoreboard and such.
</div>

<label for="organization" class="text-sm block">Organization</label>
<input class="form-input" id="organization" type="text" name="organization"
    placeholder="School / City / Country of origin" value="{{.Organization}}" maxlength="64">

<div class="my-2">
    {{ if .Hidden }}
    <input type="checkbox" checked id="user-form-hidden" name="hidden" value="true">
    {{ else }}
    <input type="checkbox" id="user-form-hidden" name="hidden" value="true">
    {{ end }}
    <label for="user-form-hidden">
        User is Hidden
        <span class="text-gray-600">(not shown on Scoreboard)</span>
    </label>
</div>

<div class="mt-2">
    <input required type="submit" class="form-btn bg-green-200 hover:bg-green-300" value="Submit">
    <input required type="reset" class="form-btn bg-red-200 hover:bg-red-300" value="Reset">
</div>
{{ end }}
