{{ define "title" }}Contests{{ end }}

{{ define "contests-table" }}
<table class="table table-auto w-full">
    <thead>
        <tr>
            <th class="border-b py-2">ID</th>
            <th class="border-b py-2">Name</th>
            <th class="border-b py-2">Start Time</th>
            <th class="border-b py-2">End Time</th>
            <th class="border-b py-2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{ range . }}
        {{ $link := printf "/contests/%d" (.ID) }}
        <tr class="border-b">
            <td class="py-2 text-center">{{.ID}}</td>
            <td class="py-2 pl-4">{{.Name}}</td>
            <td class="py-2 text-center display-time" data-time="{{.StartTime | time}}">{{.StartTime}}</td>
            <td class="py-2 text-center display-time" data-time="{{.EndTime | time}}">{{.EndTime}}</td>
            <td class="py-2 text-center">
                <a href="{{$link}}" title="Enter Contest" class="text-btn hover:text-green-600">[e]</a>
                <a href="{{$link}}/scoreboard" title="View Scoreboard" class="text-btn hover:text-green-600">[v]</a>
            </td>
        </tr>
        {{ else }}
        <tr class="border-b">
            <td colspan="5" class="py-2 text-center">No contests.</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}

{{ define "content" }}
<div class="p-2">
    <div class="py-4 mx-auto text-4xl">Active Contests</div>
    {{ template "contests-table" .ActiveContests }}
</div>
<div class="p-2">
    <div class="py-4 mx-auto text-4xl">Past Contests</div>
    {{ template "contests-table" .PastContests }}
</div>
{{ end }}
