{{ define "inner-title" }}Messages{{ end }}

{{ define "content" }}
<div class="text-4xl py-4"><b>{{.Contest.Name}}</b>: Messages</div>

<div class="text-xl my-2 text-gray-800 timer" data-start="{{.Contest.StartTime | time}}"
    data-end="{{.Contest.EndTime | time}}"><span class="font-semibold"></span></div>

{{ if isFuture .Contest.EndTime }}
<a class="text-lg inline-block rounded p-2 bg-green-200 hover:bg-green-300" href="#send-clarification">Request a
    Clarification</a>
{{ end }}

<div class="subheader">Messages</div>
<div class="p-2">
    {{ range .Messages }}
    {{ with .Announcement }}
    {{ template "announcement" (zip . $) }}
    {{ end }}
    {{ with .Clarification }}
    {{ template "clarification" (zip . $) }}
    {{ end }}
    {{ else }}
    <div class="text-center">No messages</div>
    {{ end }}
</div>

{{ if isFuture .Contest.EndTime }}
<div class="subheader" id="send-clarification">Request a Clarification</div>
{{ template "form-error" .FormError }}
{{ template "send-clarification" . }}
{{ end }}

<script type="module">
    import "../../ts/announcements.ts"; // wait for this to load first
    document.announcements.markUnread();
    document.announcements.setLast();
</script>

{{ end }}

{{ define "send-clarification" }}
{{ $form_link := printf "/contests/%d/messages" .Contest.ID }}
<form class="form-block" method="POST" action="{{$form_link}}">
    <label for="problem" class="text-sm block">For problem</label>
    <select class="form-input" id="problem" name="problem">
        {{ if eq .Form.Problem 0 }}
        <option selected value="0">General Question</option>
        {{ else }}
        <option value="0">General Question</option>
        {{ end }}
        {{ range .Problems }}
        {{ if eq $.Form.Problem .ID }}
        <option selected value="{{.ID}}">{{.Name}}. {{.DisplayName}}</option>
        {{ else }}
        <option value="{{.ID}}">{{.Name}}. {{.DisplayName}}</option>
        {{ end }}
        {{ end }}
    </select>

    <label for="content" class="text-sm block">Content</label>
    <textarea id="content" class="form-input text-lg overflow-y-auto whitespace-pre-wrap leading-relaxed h-40"
        name="content" maxlength="2048" required>{{.Form.Content}}</textarea>

    <div class="mt-2">
        <input required type="submit" class="form-btn  bg-green-200 hover:bg-green-300" value="Submit">
        <input required type="reset" class="form-btn  bg-red-200 hover:bg-red-300" value="Reset">
    </div>
</form>
{{ end }}

{{ define "clarification" }}
{{ with (index . 0) }}
<div class="mt-2 p-2 {{if .Responded}}bg-gray-200{{else}}bg-red-200{{end}} rounded border hover:bg-blue-200 clarification"
    data-id="{{.ID}}" data-responded="{{.Responded}}">
    <div class="flex flex-row justify-between">
        <div>
            <div class="text-2xl">
                {{ if .ProblemID.Valid }}
                {{ with (index (index $ 1).ProblemsMap .ProblemID.Int64) }}
                {{ $problem_link := .Link }}
                re:
                <a href="{{$problem_link}}" class="font-semibold hover:text-blue-600">
                    {{.Name}}. {{.DisplayName}}
                </a>
                {{ end }}
                {{ else }}
                General Question
                {{ end }}
            </div>
        </div>
        <div class="text-right">
            <div class="text-sm italic display-time" data-time="{{.UpdatedAt | time}}"></div>
        </div>
    </div>
    <pre class="whitespace-pre-wrap m-2">{{- printf "%s" .Content -}}</pre>
    {{ if .Response }}
    <div>
        <div class="text-lg">Response:</div>
        <pre class="whitespace-pre-wrap mt-1 mx-2">{{- printf "%s" .Response -}}</pre>
    </div>
    {{ else }}
    <div class="mt-1 text-bold">No responses yet.</div>
    {{ end }}
</div>
{{ end }}
{{ end }}

{{ define "announcement" }}
{{ with (index . 0) }}
<div class="mt-2 p-2 border rounded-sm bg-gray-200 hover:bg-blue-200 my-2 announcement" data-id="{{.ID}}">
    <div class="flex flex-row justify-between">
        <div class="text-2xl">
            {{ if .ProblemID.Valid }}
            {{ with (index (index $ 1).ProblemsMap .ProblemID.Int64) }}
            Problem
            {{ $problem_link := .Link }}
            <a href="{{$problem_link}}" class="font-semibold hover:text-blue-600">{{.Name}}. {{.DisplayName}}</a>
            {{ end }}
            {{ else }}
            <span class="font-semibold">General Announcement</span>
            {{ end }}
        </div>
        <div class="text-sm italic display-time" data-time="{{.CreatedAt | time}}"></div>
    </div>
    <pre class="mt-2 mx-2 overflow-y-auto whitespace-pre-wrap">
        {{- printf "%s" .Content -}}
    </pre>
</div>
{{ end }}
{{ end }}
