{{ define "inner-title" }}Scoreboard{{ end }}

{{ define "content" }}
<div class="text-4xl py-4"><b>{{.Contest.Name}}</b>: Scoreboard</div>

<div class="text-xl my-2 text-gray-800 timer" data-start="{{.Contest.StartTime | time}}"
    data-end="{{.Contest.EndTime | time}}"><span class="font-semibold"></span></div>

<div class="text-xl my-2">
    The contest starts at <span class="font-semibold display-time" data-time="{{.Contest.StartTime | time}}"></span> and
    ends at <span class="font-semibold display-time" data-time="{{.Contest.EndTime | time}}"></span>.
</div>

{{ if (isFuture .Contest.StartTime) }}
{{ else }}
{{ if (isPast .Contest.EndTime) }}
<div id="scoreboard"></div>
<script>
    document.initialScoreboard = JSON.parse("{{ json .JSON }}");
    document.scoreboardJSONLink = '/contests/{{.Contest.ID}}/scoreboard/json';
</script>
<script src="../../ts/scoreboard/index.tsx"></script>
{{ else }}
{{ if eq .Contest.ScoreboardViewStatus "no_scoreboard" }}
{{ else }}
{{ if ( and (eq .Contest.ScoreboardViewStatus "user") (not (loggedIn .)) ) }}
{{ else }}
<div id="scoreboard"></div>
<script>
    document.initialScoreboard = JSON.parse("{{ json .JSON }}");
    document.scoreboardJSONLink = '/contests/{{.Contest.ID}}/scoreboard/json';
</script>
<script src="../../ts/scoreboard/index.tsx"></script>
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
