{{ define "inner-title" }}Scoreboard{{ end }}

{{ define "content" }}
<div class="text-4xl py-4"><b>{{.Contest.Name}}</b>: Scoreboard</div>

<div class="text-xl my-2 text-gray-800 timer" data-start="{{.Contest.StartTime | time}}"
    data-end="{{.Contest.EndTime | time}}"><span class="font-semibold"></span></div>

<div class="text-xl my-2">
    The contest starts at <span class="font-semibold display-time" data-time="{{.Contest.StartTime | time}}"></span> and
    ends at <span class="font-semibold display-time" data-time="{{.Contest.EndTime | time}}"></span>.
</div>

{{ if (isFuture .Contest.StartTime) }}
{{ else }}
<table class="table table-auto w-full">
    <thead>
        <tr>
            <th class="text-lg py-3 border-b text-center">Rank</th>
            <th class="text-lg py-3 border-b text-center">Username</th>
            <th class="text-lg py-3 border-b text-center">Total Score</th>
            {{ range .Problems }}
            {{ $link := printf "/contests/%d/problems/%s" .ContestID .Name }}
            <th class="text-lg py-3 border-b text-center">
                <a href="{{$link}}#statements" title="View statements"
                    class="cursor-pointer hover:text-blue-600">{{ .Name }}</a>
            </th>
            {{ end }}
        </tr>
    </thead>
    <tbody>
        {{ $contestType := .Contest.ContestType }}
        {{ range .UserResults }}
        {{ $user := . }}
        <tr>
            <td class="text-lg py-3 border-b text-center" style="width: 3rem;">{{ .Rank }}</td>
            <td class="text-lg py-3 border-b">{{ .User.ID }}</td>
            <td class="text-lg py-3 border-b text-center">
                {{ if eq $contestType "weighted" }}
                <div>{{ .TotalScore }}</div>
                {{ else }}
                <div>{{ .SolvedProblems }}</div>
                {{ end }}
                {{ if .TotalPenalty }}
                <div class="text-sm text-gray-600">{{ .TotalPenalty }}</div>
                {{ end }}
            </td>
            {{ range $.Problems }}
            <td class="py-3 border-b text-center" style="width: 3rem;">
                {{ with (index $user.ProblemResults .ID) }}
                {{ if eq $contestType "weighted" }}
                <div class="text-lg">{{ .Score }}</div>
                {{ else }}
                {{ if .Solved }}
                <div class="text-lg">+{{ add .FailedAttempts 1 }}</div>
                {{ else }}
                <div class="text-lg">
                    {{ if eq .FailedAttempts 0}} 0 {{ else }} - {{ .FailedAttempts }} {{ end }}
                </div>
                {{ end }}
                {{ end }}
                {{ if .Penalty }}
                <div class="text-sm text-gray-600">{{ .Penalty }}</div>
                {{ end }}
                {{ else }}
                0
                {{ end }}
            </td>
            {{ end }}
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}
{{ end }}