{{ define "title" }}Home{{ end }}

{{ define "content" }}
<div class="py-4 mx-auto text-4xl">User Control Panel [<b title="{{.Me.ID}}">{{.Me.DisplayName}}</b>]</div>

{{ if .EnableUserCustomization }}
<div class="subheader">Update Information</div>
{{ template "form-error" .CustomizeError }}
<form class="form-block" method="POST" action="/user/customize">
    <label for="display-name" class="text-sm block">Display Name</label>
    <input id="display-name" class="form-input" type="text" value="{{.Customize.DisplayName}}"
        placeholder="Misaka Mikoto" name="display_name" maxlength="32" required>
    <div class="text-sm text-gray-600">
        This is the name that will be displayed on the scoreboard and such.
    </div>
    <label for="organization" class="text-sm block">Organization</label>
    <input id="organization" class="form-input" type="text" value="{{.Customize.Organization}}"
        placeholder="Your School / City / Country" name="organization" maxlength="64">

    <div class="mt-2">
        <input required type="submit" class="form-btn bg-green-200 hover:bg-green-300" value="Submit">
        <input required type="reset" class="form-btn bg-red-200 hover:bg-red-300" value="Reset">
    </div>
</form>
{{ end }}

<div class="subheader">Change Password</div>
{{ template "form-error" .ChangePasswordError }}
<form id="change-password-form" class="form-block" method="POST" action="/user/change_password">
    <label for="current-password" class="text-sm block">Current Password</label>
    <input id="current-password" class="form-input" type="password" placeholder="Current Password"
        name="current_password" required>
    <label for="new-password" class="text-sm block">New Password</label>
    <input id="new-password" class="form-input" type="password" placeholder="New Password" name="new_password" required>
    <label for="confirm-password" class="text-sm block">Confirm Password <span style="display: none;" id="match_warning"
            class="font-bold text-red-600">[Please match passwords]</span></label>
    <input id="confirm-password" class="form-input" type="password" placeholder="Confirm Password" required>

    <div class="mt-2">
        <input required type="submit" class="form-btn bg-green-200 hover:bg-green-300" value="Submit">
        <input required type="reset" class="form-btn bg-red-200 hover:bg-red-300" value="Reset">
    </div>
</form>

<script type="module" src="../../ts/user.ts"></script>
{{ end }}
