{{ define "title" }}Login{{ end }}

{{ define "content" }}
<div class="mt-4 p-4 mx-auto w-2/3">
    <h2 class="text-4xl ml-4 mx-4" id="login-state">Login</h2>
    {{ template "form-error" .Error }}
    <form class="py-4 px-2" method="POST" id="login-form">
        <label class="text-sm block" for="id">ID</label>
        <input class="form-input w-full" id="id" type="text" placeholder="Username" autofocus required name="id"
            value="{{.ID}}">
        <label class="text-sm block" for="password">Password</label>
        <input class="form-input w-full" id="password" type="password" placeholder="Password" required name="password">

        <div class="mt-4 flex flex-row justify-between">
            <div>
                <input required type="submit" class="form-btn  bg-green-200 hover:bg-green-300" value="Submit">
                <input required type="reset" class="form-btn  bg-red-200 hover:bg-red-300" value="Reset">
            </div>
            <div>
                <button class="form-btn bg-blue-200 hover:bg-blue-300" id="login-switch"
                    style="display: none;"></button>
            </div>
        </div>
    </form>
</div>
<script src="../../ts/login.ts"></script>
{{ if .AllowRegistration }}
<script>
    window.handleRegistration();
</script>
{{ end }}
{{ end }}
