name: Publish to Docker Hub (unstable)
on:
  push:
    branches: [master]
jobs:
  unstable:
    name: Full
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1
      - name: Publish
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: natsukagami/kjudge
          tags: unstable
          dockerfile: ./docker/Dockerfile
  unstable-gcc:
    name: GCC-only
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1
      - name: Publish
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: natsukagami/kjudge
          tags: unstable-gcc
          dockerfile: ./docker/gcc-only.dockerfile