name: Publish to Docker Hub (unstable)
on:
  push:
    # branches: [master]
jobs:
  unstable:
    name: Full
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1
      - name: Prepare version tags
        run: |
            echo "tags<<EOF" >> $GITHUB_ENV
            scripts/format_docker_tags.py "unstable" >> $GITHUB_ENV
            echo "EOF" >> $GITHUB_ENV
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - name: Publish
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ env.tags }}
          file: ./docker/gcc-only.dockerfile
  unstable-gcc:
    name: GCC-only
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1
      - name: Prepare version tags
        run: |
            echo "tags<<EOF" >> $GITHUB_ENV
            scripts/format_docker_tags.py "unstable" "-gcc" >> $GITHUB_ENV
            echo "EOF" >> $GITHUB_ENV
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - name: Publish
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ env.tags }}
          file: ./docker/gcc-only.dockerfile
