[contests]
id = "int"
name = "string"
start_time = "time.Time"
end_time = "time.Time"
contest_type = "ContestType"
_order_by = "datetime(start_time) ASC, id DESC"

[problems]
id = "int"
contest_id = "int"
name = "string"
display_name = "string"
time_limit = "int"
memory_limit = "int"
scoring_mode = "ScoringMode"
penalty_policy = "PenaltyPolicy"
_order_by = "contest_id ASC, name ASC"

[test_groups]
id = "int"
problem_id = "int"
name = "string"
time_limit = "sql.NullInt64"
memory_limit = "sql.NullInt64"
score = "float64"
scoring_mode = "TestScoringMode"
_order_by = "problem_id ASC, name ASC"

[tests]
id = "int"
test_group_id = "int"
name = "string"
input = "[]byte"
output = "[]byte"
_order_by = "name ASC"

[users]
id = "string"
password = "string"
hidden = "bool"
_order_by = "id ASC"

[submissions]
id = "int"
problem_id = "int"
user_id = "string"
submitted_at = "time.Time"
language = "Language"
source = "[]byte"
compiled_source = "[]byte"
compiler_output = "[]byte"
verdict = "string"
score = "sql.NullFloat64"
penalty = "sql.NullInt64"
_order_by = "id DESC"

[test_results]
submission_id = "int"
test_id = "int"
verdict = "string"
score = "float64"
running_time = "int"
memory_used = "int"

[problem_results]
user_id = "string"
problem_id = "int"
solved = "bool"
score = "float64"
penalty = "int"
best_submission_id = "sql.NullInt64"
failed_attempts = "int"

[jobs]
id = "int"
priority = "int"
type = "JobType"
submission_id = "int"
test_id = "sql.NullInt64"
_order_by = "priority DESC, id ASC"

[files]
id = "int"
problem_id = "int"
filename = "string"
content = "[]byte"
public = "bool"
